<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iprovider.dan.iprovider">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StatusActivity" />
        <activity android:name=".CustomerAddActivity" />
        <activity android:name=".ReadAddActivity" />
        <activity android:name=".BillAddActivity" />
        <activity android:name=".CameraScanActivity" />
        <activity android:name=".CustomerItemActivity" />
        <activity android:name=".CustomerUpdateActivity" />
        <activity android:name=".BillItemActivity" />
        <activity android:name=".PrintBillActivity" />
        <activity android:name=".PrintBookkeepingActivity" />
        <activity android:name=".SettingsActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode, ocr" />

        <activity android:name=".CameraScanIdMeterActivity" />
        <activity android:name=".ConfirmPaidActivity"></activity>
    </application>

</manifest>